/* Default themes
----------------------------
Font : Raleway and Open Sans
Colors: 
Moon Yellow:#f4c613;
Greay:#212226;
White Smoke:#f4f4f4;
Black:#000;
 */
/*------------ HTML, Body------------- */
html,
body {
    height: 100%;
}
body {
    background-color: #212226;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raliway", sans-serif;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
section,
footer {
    background-color: #fff;
    overflow: hidden;
}
/* ---------Button------------ */
.btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
}
/* --------------Content Box--------------- */
.content-box-lg{
    padding:120px 0;
}
.content-box-md{
    padding:100px 0;
}
.content-box-sm{
    padding:90px 0;
}
/* --------------------Vertical Heading------------ */
.vertical-heading h5{
    color:#f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display:inline-block;
    transform: rotate(-90deg);
    position:relative;
    top:60px;
    left:-70px;

}
.vertical-heading h2{
    font-size: 45px;
    font-weight: 100;
    line-height: 45px;
    margin:0 0 0 35px;
}
 /*---------------------- Preloader------------------- */

 #preloader{
     background-color: #fff;
     position:fixed;
     top:0;
     bottom:0;
     left:0;
     right:0;
     z-index: 9999;
 }
 #status{
    background-image: url('../img/preloader/preloader.gif');
    background-repeat: no-repeat;
    width:70px;
    height:70px;
    position: absolute;
    left:50%;
    top:50%;
    margin-top:-35px;
    margin-left:-35px;

 }
 /* ------------------------Home Section-------------------- */
 #home{
     height: 100%;
 }
 #home-pg-video{
     position: fixed;
     top:50%;
     left:50%;
     transform: translateX(-50%) translateY(-50%);
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
     background: url(../../video/solo.jpg) no-repeat;
     background-size: cover;
 }
 #home-overlay{
     width: 100%;
     height: 100%;
     background-color:rgba(0,0,0,0.8);
     position:fixed;
     top:0;
     left:0;
     z-index: -1;
 }
 #home-content{

     width:100%;
     height: 100%;
     display:table;
 }
 #home-content-inner{
     display: table-cell;
     vertical-align: middle;
 }
 #home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}
#home-heading span {
    color: #f4c613;
    font-weight: 500;
}
#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}
.btn-home {
    color: #fff;
    border: 1px solid #fff;
}
.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;
}
/* -----Arrow Down-------- */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
}
#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}
/* ------------------About 1-------------------- */


#about-right p:first-child{
    margin-bottom: 30px;
}
#about-bottom img{
    margin:0 auto;
}

/* -------------About 2------------------- */
.about-02{
    background-color: #f4f4f4;
}
.about-item{
    background-color: #fff;
    padding:80px 30px;
    box-shadow:0 0 10 rgba(0,0,0,0.1);
}
.about-item i{
    font-size:42px;
    margin:0;
}
.about-item h3{
    font-size:24px;
    margin-bottom:10px;
}
.about-item hr{
    width:45px;
    height: 3px;
    background-color: #f4c613;
    margin:0 auto;
    border:none;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: #f4c613;
}
.about-item,
.about-item i,
.about-item h3,
.about-item p,
.about-item hr{
    transition: all 400ms ease-in-out;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
color:#fff;
}

.about-item:hover hr{
    background-color: #fff;
}
.about-item:hover i{
    transform: translateY(-20px);
}

#team-left .vertical-heading{
    min-height: 160px;
}
.team-member{
    margin:8px;
    position:relative;
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}
.team-member-overlay{
    position:absolute;
    background-color: rgb(41,48,77,0.9);
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow:hidden;
    opacity: 0;
    transition: all 300ms linear;
}
.team-member-info{
    width:100%;
    height: 100%;
    padding:80px 0;
}
.team-member-info h6{
    margin:0;
    font-size: 16px;
    color:#f4c613;
}
.team-member-info p{
    color:#fff;
}

ul.social-list li{
    display: inline-block;
    padding:0;
    transform: translateX(-20px);
}
ul.social-list li a{
    border: 1px solid #fff;
    width:35px;
    height: 35px;
    line-height: 35px;
    color:#fff;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
}
ul.social-list li:nth-child(1) a:hover{
    background-color: #3b5998;
    border-color:transparent;
}
ul.social-list li:nth-child(2) a:hover{
    background-color: #00aced;
    border-color:transparent;
}
ul.social-list li:nth-child(3) a:hover{
    background-color: #dd4b39;
    border-color:transparent;
}
#team-members .owl-nav[class*="owl-"]{
font-size: 45px;
}
.skill{
    margin-bottom: 20px;
}
.skill h4{
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}
.progress{
    height: 25px;
    border-radius: 0;
    overflow: visible;
    background-color: #efefef;
}
.progress-bar{
    background-color: #f4c613;
    position: relative;
}
.progress-bar span{
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans",sans-serif;
    background-color: #212226;
    padding:3px;
    position: absolute;
    left:97%;
    top:-47px;
}

.progress-bar span::before{
    content:"";
    border-top:8px solid #212226;
    border-left:6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom:-8px;
    left:23%;
}

/* Statement */
#statement{
    background:url(../img/tech//tech-quote.jpg) no-repeat fixed center;
    background-size: cover;
}
#tech-statment h3{
    font-size: 28px;
    line-height: 45px;
    color:#fff;
}
#tech-statment p{
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    margin:8px;
    color:#f4c613;
}

#statement .content-box-lg{
    background:rgb(0,0,0,0.3);
}
/* Services Section */
.horizontal-heading {
    margin-bottom: 80px;
}
.horizontal-heading h5 {
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
    margin: 0;
}
.service{
    margin-bottom: 40px;
}
.services-01 img {
    margin: 60px 0;
}
.service .icon {
    font-size: 42px;
    margin: 0;
    transition: all 400ms linear;
}
.service:hover .icon {
    color: #f4c613;
    transform: translateX(-20px);
}
.service h5 {
    font-size: 12px;
    text-transform: uppercase;
    color: #f4c613;
    margin: 0 0 6px 0;
}
.service:hover h5 {
    color: #212226;
}
.service h4 {
    font-size: 24px;
    margin: 0 0 8px 0;
}
.service p {
    line-height: normal;
}
/* Services (Responsive Tab) */
.services-02{
    background-color: #f4f4f4;
}
#services-tab ul{
    margin-bottom: 40px;
}
#services-tab ul li {
    padding: 5px 30px;
}

#services-tab ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212121;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}
#services-tab ul li.r-tabs-state-active a{
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    transition: border-color 300ms linear;
}
#services-tab img {
    width: 100%;
    margin: 0 auto;
}
#services-tab .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 480px;
}
.service-tab .col-md-6 {
    padding: 0;
}
.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}
.service-tab h3 {
    font-size: 32px;
    margin-bottom: 30px;
}
.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}
.btn-yellow {
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;
}
.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212121;
    border: 1px solid #212121;
}
/* Portfolio */
#portfolio .vertical-heading {
    margin-bottom: 50px;
}
.row.no-gutters [class*="col-"] {
    padding: 0;  
    /* If there is padding,remove by giving zero of padding */
}

/* Portfolio....Isotope */
/* Filter  */
#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}
#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
    padding-right: 35px;
}
#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
}
#isotope-filters button.active{
    outline:0px solid transparent;
}
#isotope-filters button.active span {
    color: #f4c613;
    border-bottom: 3px solid #f4c613;
    transition: border-color 0.4s ease-in-out;
}
/* Zoom Effect */
.portfolio-item img {
    width: 100%;
    height: auto;
}
.portfolio-item:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease-in;
}
.portfolio-item {
    overflow: hidden;
    position: relative;
    
}
.portfolio-item-overlay  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: zoom-in;
    background-color: rgba(33, 33, 33, 0.9);
    opacity: 0;
}
.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}
.portfolio-item:hover h3{
    transform: translateY(3px);
    transition: transform 0.2s ease-in;
}
.portfolio-item:hover p{
    transform: translateY(-3px);
    transition: transform 0.2s ease-in;
}
.portfolio-item-details  {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
}
.portfolio-item-details  h3 {
    color: #f4c613;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.portfolio-item-details  span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 30px;
    height: 6px;
    margin: 11px auto 5px auto;
}
.portfolio-item-details  p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/* Testimoni Section */
#testimonials {
    background: #f4f4f4;
    /* padding-bottom: 45px; */
    overflow: visible;
    height: 470px;
    min-height: 470px;
    /* if overflow happen,give overflow value to visible */
}
#testimonials .vertical-heading {
    top:30%;
}
#testimonials .vertical-heading h2 {

   font-size: 40px;
}
#testimonial-slider {
    background-color: #f4c613;
    top: -180px;
    /* want to show over the normal frame */
}
.testimonial {
    padding: 20px 45px 0px 45px;
    /* space between previous and now */
    color: #fff;
}
.testimonial h3 {
    font-size: 32px;
    line-height: 35px;
}
.testimonial .star {
    font-size: 20px;
    margin: 20px 0 10px 0;
    color:#fff;
}
.testimonial p {
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}
.author .author-name-det {
    width: 106px;
    margin-top: 25px;
    text-align: left;
}
.author .author-name-des p {
    margin: 0;
}
/* Pricing  */
.pricing-table {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 32px 21px;
    transition: all 400ms linear;
}
.pricing-table:hover {
    background-color: #f4c613;
}
.pricing-table .type h4 {
    color: #f4c613;
    font-size: 24px;
    margin-bottom: 25px;
}
.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 0;
}
.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 24px;
}
.pricing-table .price h2 span {
    font-family: "Raleway", sans-serif;
}
.pricing-table .price h2 span.dollar {
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    left: 20px;
    top: 5px;
}
.pricing-table .price h2 span.month {
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 40px;
    bottom: -12px;
}
.pricing-table .price p {
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.pricing-table ul.package {
    list-style: none;
    padding: 20px 0;
}
.pricing-table ul.package li {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
}
.pricing-table ul.package li i {
    width: 24px;
}
.pricing-table .btn-yellow {
    width: 96%;
}
.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
    color: #fff;
}
.pricing-table:hover .btn-yellow {
    background-color: #fff;
    color: #212226;
    border: 1px solid #fff;
}
.pricing-table .btn-yellow:hover {
    background-color: #212226;
    color: #fff;
    border: 1px solid #fff;
}
.pricing-table.black {
    background-color: #212226;
    color: #fff;
}
.pricing-table.black .type h4 {
    color: #fff;
}
.pricing-table.black:hover {
    background-color: #f4c613;
}

/*........ Stats............ */
#stats {
    background: url(../img/stats/stats-bg.jpg) no-repeat fixed center;
    background-size: cover;
}
#stats .content-box-md {
    background-color: rgba(0, 0, 0, 0.8);
}
#stats .vertical-heading {
    margin-bottom: 50px;
}
#stats .vertical-heading h2 {
    color: #fff;
}
.stats-item {
    background: rgba(61, 68, 68, 0.6);
    border-radius: 4px;
    min-height: 170px;
    padding: 25px 50px;
}
.stats-item i {
    font-size: 42px;
    color: #f4c613;
    margin: 0 0 6px 0;
}
.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
    font-family: "Raleway", sans-serif;
}
.stats-item p {
    color: #fff;
    margin: 0;
}
.stats-item:hover {
    background: #f4c613;
    transition: background-color 0.5s ease-in-out;

}
.stats-item:hover i {
    color: #212226;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out;
}
/* Client Section */
#client .horizontal-heading {
    margin-bottom: 30px;
}

#client-list {
    padding: 45px 0 0 0;
}
.client {
    padding: 0 10px;
    max-width: 150px;
    margin: 0 auto;
    line-height: 100px;
}
.client img {
    /* !important means we have to use this property(display) for the individual images whatever */
    display: inline-block !important;
}
#client-list .owl-nav[class*="owl-"]{
    font-size: 45px;
    }
/* Blog */

#blog {
    background: #f4f4f4;
}
#blog-left p {
    margin: 25px 0;
}
#blog-left a {
    margin: 0;
}
.blog-post {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.blog-post h4 {
    line-height: 40px;
    margin: 0;
}
.blog-post > p {
    line-height: 24px;
    margin: 0;
    font-weight: 300;
}
.blog-post a {
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #f4c613;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all 400ms linear;
}
.blog-post a:hover {
    color: #212226;
}
.blog-post .post-meta {
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 10px;
}
.blog-post .post-meta p {
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}
/* Contact Left  */
.contact-left p {
    margin: 25px 0 20px 0;
}
ul.office-detail {
    list-style-type: none;
    padding: 0;
}
ul.office-detail li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: flex;
}
ul.office-detail li i {
    font-size: 20px;
    width: 45px;
}
.contact-left ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}
.contact-left ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}
.contact-right {
    padding: 25px 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.contact-right h4 {
    font-size: 24px;
}
.contact-right p {
    margin-bottom: 25px;
}
.contact-right form input.form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}
.contact-right form textarea.form-control {
    min-height: 164px;
}

/* Google Map Section */
#map{
    height: 600px;
}
/* Footer */
footer {
    background-color: #212226;
    padding: 30px;
}
footer p {
    color: #fff;
    line-height: 20px;
}
footer p span {
    color: #f4c613;
}

/* Nav bar Section */
.navbar{
    padding: 35px 0 20px 0;
}
.site-nav-wrap{
    padding:0 85px;
}
.navbar-brand{
    padding:13px 15px;
}
ul.navbar-nav>li>a{
    font-family: "Raleway",sans-serif;
    color:#fff;
    font-size:13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
ul.navbar-nav>li>a:hover{
    background: none;
    color: #f4c613;
}
/* White Navbar */
.white-nav-top{
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 8px 6px 9px #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav> li>a{
    color:#212226;
}
.white-nav-top ul.navbar-nav> li>a:hover{
    color:#f4c613;
}
/* Scroll Spy White Navbar */
.white-nav-top ul.navbar-nav>li.active a{
    color:#f4c613;
    font-weight: 500;
}
/*arrow button  */
.btn-back-to-top{
    position: fixed;
    bottom:20px;
    right:20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size:22px;
    
}